@media (max-width:767px) {
       .custom-navbar .navbar-right {
           float: right;
           padding-right: 15px;
       }
       .custom-navbar .nav.navbar-nav.navbar-right li {
           float: left;
       }
       .custom-navbar .nav.navbar-nav.navbar-right li > a {
           padding:8px 5px;
       }
       .custom-navbar .navbar-toggle {
           float: left;
           margin-right: 0
       }
       .custom-navbar .navbar-header {
           float: left;
           width: auto!important;
       }
       .custom-navbar .navbar-collapse {
           clear: both;
           float: none;
       }
}

/* General Styles*/
.block {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}