{% extends 'base.html' %}

{% block content %}

    <p>Escriba su nueva dirección de correo electrónico</p>
    <form action="{% url 'welcome:change_email' %}" method="post">
        {% csrf_token %}
        <label for="email">email:</label>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Enviar">
    </form>

{% endblock %}