{% extends 'base.html' %}

{% block content %}

    <p>Please enter (and confirm) your new password.</p>
    <form action="{% url 'welcome:change_pass' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password" />
    </form>

{% endblock %}
