{% extends 'base.html' %}

{% block content %}

    {% if valid %}
        <p>Contraseña cambiada con éxito</p>
        <a href="{% url 'welcome:welcome' %}">Iniciar sesión</a>
    {% else %}
        <p>Formulario inválido, por favor intente nuevamente</p>
        <a href="{% url 'welcome:set_pass' %}">Volver</a>
    {% endif %}

{% endblock %}