{% extends 'base.html' %}

{% block content %}

    <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
    {% if user.email == "nan" %}
        <p>No tienes email registrado, haz click en 'Agregar email' para poder recuperar tu contraseña</p>
        <a href="{% url 'welcome:set_email' %}">Agregar email</a>
    {% else %}
        <p>Tu email es: {{ user.email }}</p>
        <a href="{% url 'welcome:set_email' %}">Cambiar email</a>
    {% endif %}
    <p></p>
    <a href="{% url 'welcome:set_pass' %}">Cambiar contraseña</a>
    <p></p>
    <a href="{% url 'logout' %}">Log out</a>

{% endblock %}