{% extends 'base.html' %}

{% block content %}

    {% load django_tables2 %}
    {% load render_table from django_tables2 %}
    {% load bootstrap3 %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <head>
        <title>Dotación</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>

    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    {% else %}
        <p>no hay filtros</p>
    {% endif %}

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Elige tu base de datos
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="{% url 'tables:tabla_dotacion' %}">Dotación</a></li>
        <li><a href="{% url 'tables:tabla_geo' %}">Geovictoria</a></li>
      </ul>
    </div>

    {% if view.export_formats %}
        {% for format in view.export_formats %}
            <a href="{% export_url format %}" class="btn btn-xs btn-default">
                download  <code>.{{ format }}</code>
            </a>
        {% endfor %}
    {% endif %}

    {% load render_table from django_tables2 %}
    <p> Tablas RR.HH. </p>

    <body>
        {% render_table table 'django_tables2/bootstrap.html' %}
    </body>

{% endblock %}