{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<link rel="stylesheet" type="text/css" href="{% static 'welcome/base.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>


<nav class="navbar navbar-default custom-navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
      <a class="navbar-brand" href="#">Proyecto django</a>
    </div>
      {% if user.is_authenticated %}
      <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="{% if nbar == 'home' %}active{% endif %}"><a class="navbar-brand" href="{% url 'welcomes:welcome' %}">Perfil</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Planificación y control<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Tablero PBI</a></li>
              <li><a href="#">Base de datos</a></li>
            </ul>
          </li>

          <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="#">Flota<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'tables:flota_tablero' %}">Tablero PBI</a></li>
              <li><a href="{% url 'tables:flota' %}">DB Flota</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Calidad<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Tablero PBI</a></li>
              <li><a href="#">Base de datos</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">RR.HH.<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Tablero PBI</a></li>
              <li><a href="{% url 'tables:tabla_dotacion' %}">Base de datos</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SSOMA<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'tables:ssoma_tablero' %}">Tablero PBI</a></li>
              <li><a href="#">Base de datos</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Centro de comunicaciones<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Tablero PBI</a></li>
              <li><a href="#">Base de datos</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Operación<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Tablero PBI</a></li>
              <li><a href="#">Base de datos</a></li>
            </ul>
          </li>

      </ul>
      </div>
        {% else %}
            <li><a href="{% url 'welcomes:welcome' %}">Iniciar Sesión</a></li>
        {% endif %}

  </div>
</nav>

<div class="block">
    {% block content %}
    {% endblock %}
</div>
</body>