{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
  <h1>Ingresa la información del técnicx</h1>
  <p>Área de planificación & control</p>
</div>
<p> </p>

<form action="{%url 'ingreso_tecnicx:sub' %}" method="post">
    {% csrf_token %}
    {{ nombrerandom.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock %}